<!-- Education-->
<section class="page-section " id="education">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div>
                    <h2 class="text-cyan mt-0">Education
                    </h2>
                    <i class="bi bi-mortarboard-fill"></i>
                </div>

                <hr class="divider divider-cyan" />
                <div class="card-timeline">
                    <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">Aug 2022 - <span class="card-timeline-enddate">May
                                    2024</span></div>
                            <h4 class="card-timeline-program">Master of Science in Computer Science</h4>
                            <p class="card-timeline-university">The University of Arizona</p>
                            <p class="card-timeline-course"><b>Related Coursework:</b> Artificial Intelligence,
                                Advance Data
                                Visualization, Text Retrieval and Web Search, Computer Security, Algorithm, DBMS,
                                Software Engineering, Principles of Networking.</p>
                            <p class="card-timeline-gpa"> <b>GPA:</b> 3.63 (out of 4)</p>
                        </div>
                    </div>
                    <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">Aug 2015 - <span class="card-timeline-enddate">May
                                    2019</span></div>
                            <h4 class="card-timeline-program">Bachelor of Technology in Computer Science &
                                Engineering</h4>
                            <p class="card-timeline-university">Guru Gobind Singh Indraprastha University</p>
                            <p class="card-timeline-course"> <b>Related Coursework:</b> Artificial Intelligence,
                                Data Structure, Object oriented Programming, DBMS, Algorithms, Softwre Engineering,
                                Compiler Design, Web Development, Information Security, Machine Learning.</p>
                            <p class="card-timeline-gpa"> <b>Grade:</b> 86.4% (out of 100)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Experience-->
<section class="page-sectionbg-page-about" id="experience">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-cyan mt-0">Experience</h2>
                <hr class="divider divider-cyan" />
                <div class="card-timeline">
                    <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">Jan 2025 - <span class="card-timeline-enddate">Present</span></div>
                            <h4 class="card-timeline-program">Software Engineer</h4>
                            <p class="card-timeline-university">Apple Inc., Austin, TX, USA</p>
                            <p class="card-timeline-course">
                            <!-- <ul class="card-timeline-course">
                                <li>
                                    Engineered a batch processing system using Spring Batch to automate large-scale data imports and exports improving processing
speed for millions of records by 60%

                                </li>
                                <li>
                                    Integrated real-time application monitoring using Spring Boot Actuator and Grafana for performance tracking and alerting
                                </li>
                                <li>
                                    Revamped the legacy web interface by transitioning from server-side rendering to a React.js-based frontend with backend implemented
using Spring Boot via REST APIs. Achieved a 30% reduction in load latency and a 25% increase in user retention
                                </li>
                                <li>
                                    Applied indexing strategies and query tuning reducing execution time of PL/SQL operations by 50% resulting in faster data retrieval
                                </li>
                                <li>
                                    Optimized database interactions in Spring Boot applications by leveraging JPA and Hibernate caching reducing query execution time
by 30% and improving system throughput for high-traffic endpoints
                                </li>
                                <li>
                                    Migrated client’s backend systems from SAP ECC to S/4 HANA achieving 60% faster data processing speed and real-time analytics
                                </li>
                            </ul> -->
                            </p>
                            <!-- <p class="card-timeline-gpa">
                                <b>Achievements:</b> Successfully cleared TCS Digital
                                Capability Assessment, a company-wide examination followed by an interview, where
                                selected employees are moved to "TCS DIGITAL CADRE," a group of elite associates in
                                TCS.
                            </p> -->
                            <br>
                            <p class="card-timeline-gpa">
                                <b>Technologies:</b> Java (Apple JDK) , Oracle (SQL) Database, Microservices, REST API, Splunk, Kubernetes, Sonar
                            </p>
                        </div>
                    </div>
                    <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">Jun 2024 - <span
                                    class="card-timeline-enddate">Jan 2025</span></div>
                            <!-- <div class="card-timeline-date">May 2023 - Aug 2023</div> -->
                            <h4 class="card-timeline-program">Software Developer Intern</h4>
                            <p class="card-timeline-university">Resilient Software Security, Phoenix, AZ, USA</p>
                            <!-- <p class="card-timeline-course"> -->
                            <ul class="card-timeline-course">
                                <li>
                                    Designed telemetry dashboard integrated with CloudWatch for visualizing real-time application usage patterns and users footfall
                                </li>
                                <li>
                                    Created RESTful APIs using Steampipe to link Google Cloud, Azure and Slack into company’s platform for seamless user connectivity
                                </li>
                            </ul>
                            <div class="card-timeline-date">May 2023 - Aug 2023</div>
                            <ul class="card-timeline-course">
                                <li>
                                    Developed a scalable algorithm to generate software security analysis reports deployed on AWS Lambda using Docker container
images reducing manual processing time from 7 days to under 1 minute
                                </li>
                                <li>
                                    Employed GitHub Actions for Cloud Deployment. Documented comprehensive
                                    architectural decisions report.
                                </li>
                                <li>
                                    Decoded JotForm multipart responses to a specific JSON format for efficeint
                                    integration with AWS Lambda HTTP API gateway.
                                </li>
                            </ul>
                            <!-- </p> -->

                            <p class="card-timeline-gpa">
                                <b>Technologies:</b>
                                AWS (ECR, S3, CloudWatch RUM, EC2), GCP (Google API), JavaScript ES Module, Docker
                                JotForm API, AWS API Webhooks,
                                Cloud Deployment, GitHub
                                Actions
                            </p>
                        </div>
                    </div>
                    <!-- <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">Aug 2023 - <span class="card-timeline-enddate">May
                                    2024</span></div>
                            <h4 class="card-timeline-program">Graduate Teaching Assistant</h4>
                            <p class="card-timeline-university">CSC/ECE Department, The University of Arizona</p>
                            <p class="card-timeline-course">Course: CSC 536 - Software Engineering - Spring 2024
                                <br>
                                Course: CSC 346 - Cloud Computing - Spring 2024 <br>
                                Course: ECE 413/513 - Web Development and the Internet of Things - Fall 2023
                            </p>
                            <p class="card-timeline-gpa">
                                <b>Technologies: </b> Amazon Web Services (AWS), Internet of
                                Things (IoT), Cloud Computing, Node.js, JavaScript, HTML, MongoDB, RESTful,
                                Embedded Programming, Leadership, Technical Assistance, Agile Methodology
                            </p>
                        </div>
                    </div> -->
                    <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">Jul 2019 - <span class="card-timeline-enddate">Jul
                                    2022</span></div>
                            <h4 class="card-timeline-program">Software Developer</h4>
                            <p class="card-timeline-university">Tata Consultancy Services, Mumbai, India</p>
                            <p class="card-timeline-course">
                            <ul class="card-timeline-course">
                                <li>
                                    Engineered a batch processing system using Spring Batch to automate large-scale data imports and exports improving processing
speed for millions of records by 60%

                                </li>
                                <li>
                                    Integrated real-time application monitoring using Spring Boot Actuator and Grafana for performance tracking and alerting
                                </li>
                                <li>
                                    Revamped the legacy web interface by transitioning from server-side rendering to a React.js-based frontend with backend implemented
using Spring Boot via REST APIs. Achieved a 30% reduction in load latency and a 25% increase in user retention
                                </li>
                                <li>
                                    Applied indexing strategies and query tuning reducing execution time of PL/SQL operations by 50% resulting in faster data retrieval
                                </li>
                                <li>
                                    Optimized database interactions in Spring Boot applications by leveraging JPA and Hibernate caching reducing query execution time
by 30% and improving system throughput for high-traffic endpoints
                                </li>
                                <li>
                                    Migrated client’s backend systems from SAP ECC to S/4 HANA achieving 60% faster data processing speed and real-time analytics
                                </li>
                            </ul>
                            </p>
                            <p class="card-timeline-gpa">
                                <b>Achievements:</b> Successfully cleared TCS Digital
                                Capability Assessment, a company-wide examination followed by an interview, where
                                selected employees are moved to "TCS DIGITAL CADRE," a group of elite associates in
                                TCS.
                            </p>
                            <br>
                            <p class="card-timeline-gpa">
                                <b>Technologies:</b> Java (Development & Support), Spring Boot, REST API, Oracle PL/SQL, GitLab, CI/CD, Jenkins pipelines,
                                code review
                            </p>
                        </div>
                    </div>
                    <div class="card-timeline-item">
                        <div class="card-timeline-icon"></div>
                        <div class="card-timeline-content">
                            <div class="card-timeline-date">May 2018 - <span class="card-timeline-enddate">Aug
                                    2018</span></div>
                            <h4 class="card-timeline-program">Software Developer Intern</h4>
                            <p class="card-timeline-university">Utopian Dreams Pvt., New Delhi, India</p>
                            <p class="card-timeline-course">
                            <ul class="card-timeline-course">
                                <li>
                                    Designing a web page with Maps and statistical charts, reducing growth analysis time by 60% and significantly improved efficiency
                                </li>
                                <li>
                                    Enhanced user productivity by 50% through the implementation of a CSV Export/Import feature for large dataset in the FinTech platform, utilizing Node and XLSX library.
                                </li>
                            </ul>
                            </p>
                            <p class="card-timeline-gpa">
                                <b>Technologies:</b>
                                Node.js, JavaScript, XLSX Library, HTML, CSS, PostgreSQL, jQuery, Google Maps APIs,
                                Express.js, Highcharts API
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

